<h2> Welcome {{authClient.name}}</h2>
<p>This is your admin's dashboard</p>
<ul class="client-card">
  <li> Your id is:{{authClient.id}}</li>
  <li> Your email:{{authClient.email}}</li>
  </ul>
<form action="/users/searchbyid" method="POST">
<label for="text">insert your id</label>
<input type="text" name='id'> 
<button type="submit"> submit</button>
</form>
<form action="/users/searchbyname" method="POST">
<label for="text">insert your search name</label>
<input type="text" name='name'> 
<button type="submit"> submit</button>
</form>
<form action="/policies/byname" method="POST">
<label for="text">insert your name</label>
<input type="text" name='name'> 
<button type="submit"> submit</button>
</form>
<form action="/policies/bynumber" method="POST">
<label for="text">insert your police number</label>
<input type="text" name='number'> 
<button type="submit"> submit</button>
</form>
