<h2>admin's list</h2>
{{!-- {{#each clients}} --}}
<ul class="client-card">
  <li> client id:{{clientToSend.id}}</li>
  <li> clientToSend name:{{clientToSend.name}}</li>
  <li>clientToSend email:{{clientToSend.email}}</li>
  <li> user rule:{{clientToSend.role}}</li>
  </ul>
{{!-- {{/each}} --}}