<h2> Welcome {{authClient.name}}</h2>
<p>This is your admin's dashboard</p>
<ul class="client-card">
  <li> Your id is:{{authClient.id}}</li>
  <li> Your email:{{authClient.email}}</li>
</ul>
<div class="flex-center">
  <form action="/users/byid" method="POST">
  <label for="text">search user by id</label>
  <input type="text" name='id'> 
  <button type="submit"> submit</button>
  </form>
  <form action="/users/byname" method="POST">
  <label for="text">search user by name</label>
  <input type="text" name='name'> 
  <button type="submit"> submit</button>
  </form>
  <form action="/policies/byname" method="POST">
  <label for="text"> search policy by name</label>
  <input type="text" name='name'> 
  <button type="submit"> submit</button>
  </form>
  <form action="/policies/bynumber" method="POST">
  <label for="text">search police by number</label>
  <input type="text" name='number'> 
  <button type="submit"> submit</button>
  </form>
</div>