<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/users/byid"><button>user by id</button></a>
<a href="/users/byusername"><button>user by username</button></a>
<a href="/policies/byusername"><button>policies by username</button></a>
<a href="/policies/bynumber"><button>policies by number</button></a>



