<h1>Insurance app</h1>
<p>Welcome to Axa</p>
<form action="/users" method="POST">
<label for="text">insert your id</label>
<input type="text" name='id'> 
<button type="submit"> submit</button>
</form>





