<h2>user's list</h2>
{{#each clients}}
<ul class="client-card">
  <li> client id:{{id}}</li>
  <li> client name:{{name}}</li>
  <li>client email:{{email}}</li>
  <li> user rule:{{role}}</li>
  </ul>
{{/each}}
