/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 40px;
  padding: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- classes sort by alphabetical order ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

.flex-center{
  max-width: 80%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-top: 2px solid rgb(178, 106, 179);
  border-right: 1px solid rgb(180, 180, 180);
  border-left: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 10px;
  background: antiquewhite;
}

.client-card{
  max-width: 80%;
  background: rgb(240, 243, 249);
  padding: 20px;
  border-top: 2px solid rgb(178, 106, 179);
  border-right: 1px solid rgb(180, 180, 180);
  border-left: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  list-style: none;
}